@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    --site-green: #6C856D;
    --nav-height: 112px; /*navbar height, calculated by using: document.getElementById("page-nav").offsetHeight */
}

body { background-color: #373737; color: white;}


.az-nav-link {
    float: right;
    font-size: 22px;
    text-decoration: none;
    margin-right: 50px;
    margin-top: 15px;
    color: black;
}

.navbar-right li:hover {
    background-color: none;
}

.az-nav-cta {
    color: #FFDD00;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
}

.az-nav-cta--button {
    background-color: #fff;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    padding: 10px 35px;
    transition: color 0.5s, background-color 0.5s;
}
.az-nav-cta--button:hover {
    background-color: #6c856d;
    color: white;
}

/*https://stackoverflow.com/questions/25878450/bootstrap-collapsed-navbar-buggy-open*/
.navbar-collapse.collapse.in {
    display: block!important;
}

.az-hero {
    background-image: url(./restaurant.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;

    color: white;
}

.az-hero-lead {
    padding: 5% 0 15% 0;
    font-weight: 400;
    font-size: 24px;
    width: 60%;
    margin: 0 auto;
}

.az-hero-heading {
    font-family: 'Chonburi', cursive;
    margin-top: 4%;
}

.az-historical {
    width: 30%;
    font-size: 20px;
    background: linear-gradient(90deg, #373737 0%, rgba(108,133,109,1) 100%);
    margin: 2% 0;
    padding: 2% 1%;
}

.az-cuisine-type--first {
    margin-left: 1%;
}
.az-cuisine-type--mid {
    border-left: 3px solid #373737;
    border-right: 3px solid #373737;
    z-index: 2;
}
.az-cuisine-type:not(.az-cuisine-type--first) {
    margin-left: .4%;
}
.az-cuisine-type {
    height: 180px;
    background-color: var(--site-green);
    padding-top: 1%;
    transition: transform .3s;
}

.az-cuisine-type:hover {
    transform: scale(1.15);
    z-index: 9999;
    border: none;
}

.az-cuisine-type > img {
    width: 50%;
}

.az-center-text {
    font-size: 20px;
    padding: 0 22%;
}

.az-reviews {
    background-image: url(./baloon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 0 5% 5%;
}

.az-contacts {
    background-image: url(./map.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:initial;
    height: 80vh;
}

#comments {
    height: calc(1.5rem + 135px);
    margin-bottom: 25px;
}

#promoVideo {
    width: 100%;
    height: 75%;
    background: linear-gradient(rgba(#000, #000, .5), rgba(#000, #000, .5));
}

.videoContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--nav-height));
    border-radius: 5px;
    background-attachment: scroll;
    overflow: hidden;
}
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.videoContainer .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: black;
    opacity: 0.7;
}

.section {
    padding-top: 6%;
}

.line-style{
    width: 15%;
    border: 1.5px solid #6C856D;
}

.heading-margin{
    margin-bottom: 2%;
}

#line-style-reviews {
    margin-left: 0.5%;
    width: 15%;
    border: 1.5px solid #fff;
}

.az-hours {
    padding-top: 10%;
}

.az-form {
    width: 40vw; 
    background-color: #6C856D; 

    margin: -12% 0 10% 10%;
    padding-left: 5%; 
    padding-top: 5%;
    border-radius: 10%;
}

.az-form > h1 {
    padding-bottom: 5%;
}

.az-form > input { background-color: rgb(175, 174, 174);}

@media screen and (max-width: 600px) {
    img {
        margin-left: 5%;
    }
    footer {padding-left: 25%;}
}

#landing-link {
    color: white;
}